@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.golden-gradient {
  background: #fdb931;
  background: linear-gradient(-90deg, #fdb931 0%, rgba(159, 121, 40, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #fdb931 0%,
    rgba(159, 121, 40, 0) 100%
  );
}

.white-pink-gradient {
  background: "#ffff15";
  background: linear-gradient(90.13deg, #ffffff 1.9%, #f422c7 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #ffffff 1.9%, #f422c7 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  background: -webkit-linear-gradient(to top, #f12711, #f5af19);
  background: linear-gradient(to top, #f12711, #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coral-text-gradient {
  background: linear-gradient(to right, #ff5f6d, #ffc3a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sky-text-gradient {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mint-text-gradient {
  /* background: linear-gradient(to right, #43e97b, #38f9d7); */
  background: linear-gradient(to right, #43e97b, #38f9d7, #abfff0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.text-animation {
  text-transform: uppercase;
  background: linear-gradient(90deg, #fdb931 0%, #ffffff 50%, #f422c7 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.animation-styles {
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
  animation: type 2s steps(40, end) forwards;
}

.animation-span {
  opacity: 0;
  background: linear-gradient(
    90deg,
    #efbf04 0%,
    #fff8e1 25%,
    #f7d774 50%,
    #b8860b 75%,
    #483606 100%
  );
  width: 400px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 1s steps(40, end) 2s forwards,
    blink 0.5s step-end infinite alternate;
}

@media (max-width: 425px) {
  .animation-styles,
  .animation-span {
    width: 90%;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 1px solid orange;
  }
  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
